.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #0b3541;
}

.music-app {
  text-align: center;
  width: 100%;
  height: 100%;

}

h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.music-controls {
  margin: 20px;
}

.control-btn {
  font-size: 35px;
  margin: 0 10px;
  padding: 5px;
  
  display: inline-flex;
  align-items: center;
}

.progress-bar-container {
  width: 80%;
  height: 15px;
  background-color: #ddd;
  margin: 20px auto;
}

.progress-bar {
  height: 100%;
  background-color: black;
}

.time-labels {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: 0 auto;
}

